attrs==23.2.0
beautifulsoup4==4.12.3
cattrs==23.2.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
idna==3.6
importlib_metadata==7.1.0
iniconfig==2.0.0
itsdangerous==2.1.2
lxml==5.2.0
mccabe==0.7.0
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
prettytable==3.10.0
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyparsing==3.1.2
requests==2.31.0
requests-cache==1.2.0
requests-mock==1.12.1
six==1.16.0
soupsieve==2.5
tomli==2.0.1
tqdm==4.66.2
typing_extensions==4.10.0
url-normalize==1.4.3
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.18.1
